[*.cs]

# CS8600: 将 null 字面量或可能为 null 的值转换为非 null 类型。
dotnet_diagnostic.CS8600.severity = silent

# CS8603: 可能返回 null 引用。
dotnet_diagnostic.CS8603.severity = none

# CS4014: 由于此调用不会等待，因此在调用完成前将继续执行当前方法
dotnet_diagnostic.CS4014.severity = silent
